@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
  }
  body {
  font-family: "Arial";
    gap:16px;
    font-size: 100%;
    background: linear-gradient(68.15deg, #0f0f0f 16.62%, #000000 85.61%);
  }
 
  
  @media (max-width: 768px) {
   
    .cabecalho {
      flex-direction: column;
      align-items: center;
      padding: 16px;
    }
  
    .cabecalho-menu {
      flex-direction: column;
      gap: 16px;
    }
  
    .rodape {
      padding: 16px;
    }
  
    .rodape-imagem {
      height: 80px;
    }
    .container-card{
      flex-direction: column;
      justify-content: center;
      margin-left: 75px;
    }
    .card{
      margin-bottom: 30px;
    }
    
  }

  .cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    width: 100%;
    margin-bottom: 300px;
    border-bottom: 0.4px solid #3977be;
   
   
  }
  
  .cabecalho-imagem {
    height: 120px;
  }
  
  .cabecalho-menu {
    display: flex;
    gap: 22px;
  
    
  }
  
  .cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #3977be;
    font-weight: 400;
    font-size: 28px
    
  }
  .cabecalho-menu a{
    text-decoration: none;
    
  }
  
  .card {
    background-color: #fff;
    width: 180px;
    height: 260px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
  }
  .card img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
  }
  .card h1 {
    font-size: 1.2rem;
  }
  .card h2 {
    font-size: .9rem;
    color: #000000dc;
  }
  .card button {
    background-color: #2192FF;
    height: 30px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
  }
  .card button:hover {
    background-color: #137de8;
    cursor: pointer;
  }
  .container-card{
    display: flex;
    justify-content:space-around;
  
  }
